#users {
    width: 500px;
    padding-top: 20px;
}

body {
    background: #fdfdf4 url("viina.png") no-repeat 50% 50%;
}
.arvottava {
    margin: 2px;
    font-size: 30px !important;
    text-shadow: 0 -1px 1px #164166;
}

@keyframes blink {
    35% {
        background: red;
    }
}
@-webkit-keyframes blink {
    35% {
        background: red;
    }
}
@-moz-keyframes blink {
    80% {
        background: red;
    }
}

.denied {
    animation: blink 250ms;
    -webkit-animation: blink 250ms;
    -moz-animation: blink 250ms;
}

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('BebasNeue-webfont.eot');
    src: url('BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
    url('BebasNeue-webfont.woff') format('woff'),
    url('BebasNeue-webfont.ttf') format('truetype'),
    url('BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

#clock {
    position: absolute;
    left: 10px;
    top: 10px;
}

ul {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    text-align: center;
}

ul li {
    display: inline;
    font-size: 4em;
    text-align: center;
    font-family: 'BebasNeueRegular', Arial, Helvetica, sans-serif;
}

.point {
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
}

#winner {
    display:none;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin: 50px 0;
    background: rgba(255,255,255,0.75);
    padding: 20px;
}

#winner-user {
    display: block;
    opacity: 0;
    font-size: 70px;
    transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    color: red;
    transition: all 1s ease-in;
    -ms-transform: all 1s ease-in;
    -webkit-transition: all 1s ease-in;
}

#winner-user.animate {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 1;
}